* {
	margin:0px;
	padding:0px;
}

body {
	background:#fff;
}

.wf-loading {
	/* Hide the blog title and post titles while web fonts are loading */
	visibility: hidden;
}

#container {
	margin: 43px;
}

img {
	max-width:100%;
	height:auto;
}

.thumb {
	background:#ccc;
	width: 175px;
	height:175px;
	margin:0 0 43px 0;
}

.large {
	width: 611px;
	height:611px;
}

#info {
	color:#fff;
	width: 400px;
	height:400px;
	margin:0 0 43px 0;
	overflow: hidden;
	position: relative;
	background:url('../images/paint.jpg');
	-webkit-animation-name: header-pan;
	-webkit-animation-duration: 120s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	padding:20px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;         /* Opera/IE 8+ */
}


@-webkit-keyframes header-pan {
	0% {
		background-position: left top;
	}
	100% {
		background-position: right bottom;
	}
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}